asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
autopep8==1.4.3
beautifulsoup4==4.6.0
cajarename==17.3.28
chardet==3.0.4
click==6.7
colorama==0.3.7
configobj==5.0.6
configparser==3.5.0
constantly==15.1.0
cryptography==2.1.4
deja-dup-caja==0.0.4
duplicity==0.7.17
enum34==1.1.6
fasteners==0.12.0
flake8==3.6.0
folder-color-caja==0.0.86
folder-color-common==0.0.86
html5lib==0.999999999
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
lxml==4.2.1
mate-menu==18.4.3
mccabe==0.6.1
mercurial==4.5.3
monotonic==1.0
mysqlclient==1.3.10
numpy==1.13.3
olefile==0.45.1
PAM==0.4.2
Parsley==1.2
pexpect==4.2.1
Pillow==5.1.0
psutil==5.4.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.4.0
pycrypto==2.6.1
pyflakes==2.0.0
pygobject==3.26.1
pyinotify==0.9.6
pyliblzma==0.5.3
pyOpenSSL==17.5.0
pyserial==3.4
python-xlib==0.20
pyxdg==0.25
scour==0.36
SecretStorage==2.3.1
service-identity==16.0.0
setproctitle==1.1.10
six==1.11.0
torbrowser-launcher==0.2.9
Twisted==17.9.0
txsocksx==0.0.0
virtualenv==16.1.0
webencodings==0.5
zope.interface==4.3.2
