body    {
        background-color: white;
        color:#000080;
        /* background-color: grey; */
        }

header  {
        color:red ;
        }

nav     {
        color: black;
        font-weight: bold;
        font-style: italic;
        }

.navbar {
        color: black;
        }

.nav-link {
          background-color:white ;
          color:#000080;
          }

.nav-link active{
          background-color:#000080 ;
          color:white;
          }


}
h1      {
        color: green;
        font-weight: bold;
        text-decoration: underline;
        }

form    {
        border-style: solid;
        padding: 3px;
        margin: 3px;
        }

footer {
        color:green;
        }
