{% extends "layout.html" %}


{% block content %}

  <!-- form -->
  <form action="{{url_for('index')}}" method="post">
    <p>form</p>


    <!-- bet options -->
    <h2>Pari et stratégie</h2>


    <label for="bet_type">Bet type</label>
    <select name="bet_type">
    {% for key in index_data['bet_list'] %}
          <option value="{{key}}">{{key}}</option>
    {% endfor %}
    </select>
    <br>



    <!-- strategy -->
    <label for="strategy">Strategy</label>
    <select name="strategy">
      {% for key in index_data['strat_list'] %}
            <option value="{{key}}">{{key}}</option>
      {% endfor %}
    </select>
    <br>



    <!-- param -->
    <label for="strategy_n">parametre - N -</label>
    <input type="number" name="strategy_n" min="0" max="100" placeholder="0" value="0">

    <!-- plateform -->
    <label for="plateform">Bet plateform</label>
    <select name="plateform">
          <option value="hippodrome">hippodrome</option>
          <option value="web">web</option>
          <option value="indifferent">indifférent</option>
          <option value="random">random</option>
    </select>
    <br>


    <!-- money management -->
    <h2>Mises et gestion du cash</h2>

    <!-- bet value     -->
    <label for="bet_value">Bet_value</label>
    <input type="number" name="stratey_param" min="1" max="1000" placeholder="1">
    <br>

    <!-- bet type -->
    <label for="bet_value_type">Bet strategy</label>
    <select name="bet_value_type">
      <option value="fixed">fixed</option>
      <option value="placed">dynamic</option>
    </select>




    <!-- other -->
    <h2>Autres options</h2>

    <!-- not implemented -->
    <p>dataset min size</p>
    <p>randomize</p>
    <p>randomize exp min</p>

    <h2>ready for back turf</h2>
    <button type="submit" class="btn btn-primary">submit</button>
    <!-- old button
    <input type="submit" value="Submit">
    -->

  </form>

{% endblock %}
