snippets_index.html


  <!-- form -->
  <form action="{{url_for('turfing')}}" method="post">

    <!-- database -->

    <!--
    <label for="monté">monté</label>
    <input type="checkbox" name="monté" checked>
    <label for="attelé">attelé</label>
    <input type="checkbox" name="attelé" checked>
    <label for="plat">plat</label>
    <input type="checkbox" name="plat" >
    <label for="haies">haies</label>
    <input type="checkbox" name="haies" >
    <label for="steeple-chase">steeple-chase</label>
    <input type="checkbox" name="steeple-chase" >
    <label for="steeple-chase cross-country">cross-country</label>
    <input type="checkbox" name="steeple-chase cross-country" > -->
